{% extends "app/base.html" %}
{% block content %}
<div class="inner-banner">
</div>
<!-- /form -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-6 d-block m-auto form-inner-cont border rounded bg-light border-primary py-3">
                    <div class="title-content">
                        <h3 class="hny-title mb-lg-5 mb-4 text-center">Change Password</h3>
                    </div>
                    <form method="post" class="signin-form">
                        {%csrf_token%}
                        <p class="text-info text-center">{{message}}</p>
                        <div class="form-input">
                            <input type="email" placeholder="Email" value="{{request.session.email}}" readonly
                                   required/>
                        </div>
                        <div class="form-input">
                            <input type="password" name="oldpassword" placeholder="Old Password" required/>
                        </div>
                        <div class="form-input">
                            <input type="password" name="newpassword" placeholder="New Password" required/>
                        </div>
                        <div class="submit-button text-lg-right">
                            <button name="submit" value="submit" type="submit" class="btn btn-style">Update</button>
                        </div><hr>
                        <div class="submit-button text-lg-right">
                            <i class="fa fa-home"></i> <button name="submit" type="submit" class="btn btn-success" formnovalidate>Home</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //form -->
{% endblock %}