{% extends "app/base.html" %}
{% block content %}
<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Actions speak louder than words! Give contribution today.</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="vregistration">Volunteer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Create a Better Future through your Help and contribution</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="vregistration">Volunteer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Don’t stop until your goal is achieved! Give today.</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="vregistration">Volunteer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Help them find jobs and means of livelihood and change!</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="vregistration">Volunteer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </li>
        </div>
    </div>
    </div>
</section>
<!-- //banner-slider-->
<!-- //bottom-grids -->
<div class="w3l-bottom-grids">
    <div class="container-fluid px-0">
        <div class="bottomhny-grids-sec">
            <div class="bottomhny-1">
                <div class="bottomhny-gd-ingf">
                    <h4>Equality is a simple method to prove kindness</h4>
                </div>
            </div>
            <div class="bottomhny-1 bottomhny-2">
                <div class="bottomhny-gd-ingf">
                    <h4>By giving a little, you will help out a lot.</h4>
                </div>
            </div>
            <div class="bottomhny-1 bottomhny-1-img">
                <div class="bottomhny-gd-ingf">

                </div>
            </div>

        </div>
    </div>
</div>
<!-- //bottom-grids -->

<!-- /features-4 -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">Why Choose Us</h6>
                <h3 class="hny-title">How Can Help?</h3>
                <p class="fea-para">We are tirelessly working for the rights of transgender through collaborations
                    with individuals, organizations, and Government departments (National Human Rights Commission) to
                    provide them opportunities and to bring them into mainstream society.</p>
            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h4>Join Us!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5><a href="#URL">Give Job</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-2"></div>
                                        <div class="ch-info-back">
                                            <h4>Join Us!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5><a href="#URL">
                                Become A Volunteer</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-3">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-3"></div>
                                        <div class="ch-info-back">
                                            <h4>Join Us!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5><a href="#URL">
                                Adopt A Child</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-4">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-4"></div>
                                        <div class="ch-info-back">
                                            <h4>Join Us!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5><a href="#URL">
                                Help For Education</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features-4 -->
{% endblock %}