{% extends "member/base.html" %}
{% block content %}
<div class="inner-banner">
</div>
<!-- /form -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-11 d-block m-auto form-inner-cont border rounded bg-light border-primary py-3">
                    <div class="title-content">
                        <h3 class="hny-title mb-lg-5 mb-4 text-center">View Adoption Data</h3>
                    </div>
                    <p class="text-info text-center">{{message}}</p>
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>NGO</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th>Short Description</th>
                                <th>PDF</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for adoption in adoptions %}
                            <tr>
                                <td>{{ adoption.nname }}</td>
                                <td>{{ adoption.nmobile }}</td>
                                <td>{{ adoption.naddress }}</td>
                                <td>{{ adoption.description }}</td>
                                <td><a href="media/adoption/{{adoption.id}}.pdf" download="">Download</a></td>
                                <td>
                                    <form method="post">
                                        {%csrf_token%}
                                        <input type="hidden" name="id" value="{{adoption.id}}">
                                        <button class="btn btn-success" type="submit">Apply</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //form -->
{% endblock %}