{% extends "employer/base.html" %}
{% block content %}
<div class="inner-banner">
</div>
<!-- /form -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-6 d-block m-auto form-inner-cont border rounded bg-light border-primary py-3">
                    <div class="title-content">
                        <h3 class="hny-title mb-lg-5 mb-4 text-center">Add Job</h3>
                    </div>
                    <form method="post" class="signin-form">
                        {%csrf_token%}
                        <p class="text-info text-center">{{message}}</p>
                        <div class="form-input">
                            <input type="text" name="title" placeholder="Job Title" required/>
                        </div>
                        <div class="form-input">
                            <textarea placeholder="Description" name="description" required=""></textarea>
                        </div>
                        <div class="form-input">
                            <input type="text" name="salary" placeholder="Salary" required/>
                        </div>
                        <div class="submit-button text-lg-right">
                            <button type="submit" class="btn btn-style">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //form -->
{% endblock %}