{% extends "admin/base.html" %}
{% block content %}
<div class="inner-banner">
</div>
<!-- /form -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-11 d-block m-auto form-inner-cont border rounded bg-light border-primary py-3">
                    <div class="title-content">
                        <h3 class="hny-title mb-lg-5 mb-4 text-center">Member</h3>
                    </div>
                    <p class="text-info text-center">{{message}}</p>

                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in members %}
                            <tr>
                                <td>{{ member.name }}</td>
                                <td>{{ member.mobile }}</td>
                                <td>{{ member.email }}</td>
                                <td>{{ member.address }}</td>
                                <td>
                                    <form method="post">
                                        {%csrf_token%}
                                        <input type="hidden" name="id" value="{{member.id}}">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //form -->
{% endblock %}